<h1>Edit Restaurant</h1>
<br>
<form action="/restaurants/<%= @restaurant.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <h3><label>Name: </label></h3>
    <input type="text" name="restaurant[name]" value="<%= @restaurant.name %>"/><br />
    <h3><label>City: </label></h3>
    <input type="text" name="restaurant[city]" value="<%= @restaurant.city %>"/><br />
    <h3><label>Category: </label></h3>
    <input type="text" name="restaurant[category]" value="<%= @restaurant.category %>"/><br />
    <h3><label>Menu Item 1: </label></h3>
    <input type="text" name="menu_items[][name]" value="<%= @restaurant.menu_items %>"/><br />
    <h3><label>Menu Item Description 1: </label></h3>
    <input type="text" name="menu_items[][description]" value="<%= @restaurant.menu_items %>"/><br />
    <h3><label>Menu Item 2: </label></h3>
    <input type="text" name="menu_items[][name]" value="<%= @restaurant.menu_items %>"/><br />
    <h3><label>Menu Item Description 2: </label></h3>
    <input type="text" name="menu_items[][description]" value="<%= @restaurant.menu_items %>"/><br />
    <h3><label>Notes: </label></h3>
    <input type="text" name="restaurant[notes]" value="<%= @restaurant.notes %>" /><br />
    <br>
    <button type="submit">Edit Restaurant</button>
</form>